---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import { getCollection } from "astro:content";
import type { ImageMetadata } from "astro";

import thorneImage from "../assets/thorne.png";
import mag from "../assets/mag.png";
import fallbackImage from "../assets/fallback.png";

const headline = "Wellness Shop";
const products = await getCollection("products");

const imageMap: Record<string, ImageMetadata> = {
  "/assets/thorne.png": thorneImage,
  "/assets/mag.png": mag,
};
---

<Layout title="Wellness Shop | Wellness Medical Center">
  <section>
    <div class="md:flex md:items-center md:gap-8">
      <div class="md:w-3/5">
        <h2 class="text-4xl text-amber-700 font-bold mb-4 mt-8">{headline}</h2>
        <p class="text-2xl mb-12">
          Discover our curated selection of wellness products.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12">
      {
        products.map((product) => (
          <ProductCard
            title={product.data.title}
            brand={product.data.brand}
            quantity={product.data.quantity}
            price={product.data.price}
            salePrice={product.data.salePrice}
            image={imageMap[product.data.image] || fallbackImage}
          />
        ))
      }
    </div>
  </section>
</Layout>
